//Color Scheme
$rojo: #DF6C65;
$celeste: #A1DAE2;

//Font Family
$montserrat: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;

//Font Weight
$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

