.video {
  &__title {
      width: 100vw;
    h3 {
      text-align: center;
      font-family: "Montserrat";
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }
  &__container {
    padding: 0 3rem 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__card {
      padding: 0 1rem;
    h4 {
      font-family: $montserrat;
      font-weight: $bold;
      padding-top: 1rem;
    }
    p {
      font-family: $open-sans;
      font-weight: $light;
      padding-top: 0.2rem;
      padding-bottom: 1rem;
      color: black;
      font-size: 1.1rem;
    }
  }
}
@media only screen and (min-width: 425px) {
    .video{
        &__card {
            width: 20rem;
        }
        
    }
}

@media only screen and (min-width: 768px) {
    .video {
        &__card {
            
        }
        &__title {
            h3 {
                text-align: center; 
            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    .video {
        &__container {
          justify-content: space-between;
            
        }
        &__title {
            h3 {
                text-align: left;
            }
        }
        &__card {
          padding: 0;
        }
    }
}
