.main {
    &__image {
        height: 5rem;
        background-image: url(../../assets/img/image-banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } 
    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }
    &__yuki {
        display: flex;
        align-items: center;
    }
    &__name {
        margin-left: 2rem;
        h2 {
            font-family: $montserrat;
            font-weight: $bold;
        }
        p {
            font-family: $open-sans;
            font-weight: $regular;
            color: gray;
            letter-spacing: 1px;
        }
       
    }
} 

@media only screen and (min-width: 768px) {
    .main {
        &__image {
            height: 10rem;
        }
    } 
}

@media only screen and (min-width: 840px) {
    .main {
        &__container {
            justify-content: space-between;
            margin: 0px 3rem;
        }
    } 
}
hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}